<section class="products-showcase best-seller container">
  <div class="row">
    <div class="title col-12">
      <h2 class="h2">S&#x1EA3;n ph&#x1EA9;m b&aacute;n ch&#x1EA1;y</h2><a class="see-more-btn-text text-uppercase" href="shop.html">Xem Th&ecirc;m</a>
    </div>
  </div>
  <div class="row product-row d-flex justify-content-md-between">
    <a class="product position-relative" href="product-details.html">
      <div class="card"><img class="card-img-top" src="../../../assets/image/product/adidas-Yeezy-Boost-350-V2-Lundmark-Product.png" alt="adidas-Yeezy-Boost-350-V2-Lundmark"/>
        <div class="card-body">
          <h5 class="card-title">Adidas Yeezy Boost 350 V2 Lundmark (Non</h5>
          <p class="card-text price-desc">Gi&aacute; th&#x1EA5;p nh&#x1EA5;t hi&#x1EC7;n t&#x1EA1;i</p>
          <p class="price">7.200.000 &#x20AB;</p>
          <p class="card-text sold">&atilde; b&aacute;n 1963 &ocirc;i</p>
        </div>
      </div>
    </a>
  </div>
</section>
