<header class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light container"><a class="navbar-brand" href="default.htm">
    <img class="img-fluid" src="../../../assets/image/logo-white.png" alt="logo"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-md-end text-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link text-white" routerLink="">Home</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="products" routerLinkActive="active">Sản phẩm</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="products/cart" routerLinkActive="active">Giỏ hàng</a></li>
        <li class="nav-item"><a class="nav-link account-setting text-white" id="account" routerLink="admin" routerLinkActive="active">Quản lý </a></li>
      </ul>
    </div>
  </nav>

</header>
