<main>
  <div class="breadcrumb container"><a class="previous-page" href="index.html">Trang ch&#x1EE7;</a><i class="fas fa-chevron-right arrow"></i><span class="current-page">S&#x1EA3;n ph&#x1EA9;m</span></div>
  <div class="shop-content-wrapper container">
    <div class="row">
      <div class="filter-bar col-lg-3">
        <div class="filter-header content">
          <div class="left-side d-flex align-items-center"><i class="fas fa-sliders-h"></i>
            <div class="text">L&#x1ECD;c</div>
          </div>
          <button class="clear-filter btn btn-primary" disabled="disabled">Bỏ lọc</button>
        </div>
        <div class="break-line"></div>
        <div class="brand content">
          <div class="title" data-toggle="collapse" href="#brand-collapse" role="button" aria-expanded="false" aria-controls="brand-collapse">
            <div class="text">Thương hiệu</div><i class="fas fa-chevron-up"></i>
          </div>
        </div>
        <div class="break-line"></div>
        <div class="price-range content">
          <div class="title">
            <div class="text">Kho&#x1EA3;ng gi&aacute;</div>
          </div>
          <input class="form-control price-input" id="from-price" type="text" placeholder="Từ" onkeypress="return priceInputValidate(event)"/>
          <input class="form-control price-input" id="to-price" type="text" placeholder="Đến" pattern="[0-9]" onkeypress="return priceInputValidate(event)"/>
          <button class="btn btn-primary apply-price red-btn">&aacute;p d&#x1EE5;ng</button>
        </div>
        <div class="break-line"></div>

      </div>

    </div>
  </div>
  <div class="modal fade" id="signInSignUp" tabindex="-1" role="dialog" aria-labelledby="signInSignUpLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item"><a class="nav-link active" id="signIn-tab" data-toggle="pill" href="#signIn" role="tab" aria-controls="signIn" aria-selected="true">Đăng nhập</a></li>
            <li class="nav-item"><a class="nav-link" id="signUp-tab" data-toggle="pill" href="#signUp" role="tab" aria-controls="signUp" aria-selected="false">Đăng ký</a></li>
          </ul>
        </div>
        <div class="modal-body">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="signIn" role="tabpanel" aria-labelledby="signIn-tab">
              <form>
                <input class="form-control sign-in-email" placeholder="Email" autocomplete="autocomplete"/>
                <div class="invalid-feedback"> </div>
                <input class="form-control sign-in-password" type="password" placeholder="Mật khẩu" autocomplete="autocomplete"/>
                <div class="invalid-feedback"> </div>
                <div class="forgot-password-wrapper"></div>Quên mật khẩu? Nhấn vào <span class="text-btn">đây</span>
                <div class="btn btn-primary red-btn sign-in-btn">Đăng nhập</div>
              </form>
            </div>
            <div class="tab-pane fade" id="signUp" role="tabpanel" aria-labelledby="signUp-tab">
              <form>
                <input class="form-control sign-up-full-name" placeholder="Họ và tên *" autocomplete="autocomplete"/>
                <div class="invalid-feedback"> </div>
                <input class="form-control sign-up-phone" placeholder="Số điện thoại *" autocomplete="autocomplete"/>
                <div class="invalid-feedback"> </div>
                <input class="form-control sign-up-email" placeholder="Email *" autocomplete="autocomplete"/>
                <div class="invalid-feedback"> </div>
                <input class="form-control sign-up-password" type="password" placeholder="Mật khẩu *" autocomplete="autocomplete"/>
                <div class="invalid-feedback"> </div>
                <input class="form-control sign-up-confirm-password" type="password" placeholder="Xác nhận mật khẩu *" autocomplete="autocomplete"/>
                <div class="invalid-feedback"> </div>
                <div class="privacy-confirm"></div>Khi bạn nhấn Đăng ký, bạn đã đồng ý thực hiện mọi giao dịch mua bán theo <span class="text-btn">điều kiện sử dụng và chính sách của OBO Stadium.</span>
                <div class="btn btn-primary red-btn sign-up-btn">Đăng kí</div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><a class="back-to-top" href="#"><img src="image/back-to-top.png" alt=""/></a>
